body{
    background-color:rgb(241, 241, 241);
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 50px;
}


.header-inner {
  height: 70px;
  position: sticky;
  top: 0; 
  background-color:rgba(202, 217, 236, 0);
  /* margin-top: 30px; */
  display: flex;
  align-items: center;
  z-index: 10;
}

.header-outer { 
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: -20px; /* 70-120 = -50 */
  height: 90px;
  background-color:rgba(230, 230, 230, 0.603);
  margin-top: 50px;
  width: 98%;
  z-index: 10;


}



ul.menu{
    display:flex;
    flex-direction: row;

    top: 70px;
    align-items: center;
    /* position: sticky; */
    /* background-color: rgb(248, 248, 248); */
    /* background-image:url(img/li-bg.jpg); */
    /* border-radius:10px; */
    /* padding-left:0px;  */
    /* border:2px solid rgb(214, 214, 214); */
    /* box-shadow: 0 1px 1px 0 rgb(238, 238, 238); */

}

li{
    list-style:none;
    padding: 0px 18px;
    margin: 0 auto;
    /* margin: 0px 10px ; */
}


li:hover{
    background-color: rgba(255, 255, 255, 0.521);
}
li>a{
    text-decoration: none;   
    color:rgb(52, 53, 58); 
}
li>a:hover{

    color:rgb(25, 25, 27); 
}

li.menu{
    border-right:solid 2px rgba(105, 105, 105, 0.479) ;

}


/* 以上、ヘッダー */



table{
    margin:0 auto;
    margin-top: 100px;
    
}

td{
    padding: 10px;
}
img{
    width:300px;
}

.sample1 {
	width:			300px;
	height:			300px;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;	/* 相対位置指定 */
}
.sample1 .caption {
	font-size:		130%;
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
}
.sample1 .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.sample1:hover .mask {
	opacity:		1;	/* マスクを表示する */
}